<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Site</title>
    <link rel="stylesheet" href="css.css" >
</head>
<body>
  <form class="register-page__form" name="f" method="post" action="/process_login">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <h1 class="register-page__form-title">Авторизация</h1>

    <div class="input-field ">
    <label for="username">Введите имя пользователя</label>
    <input type="text" name="username" id="username">
    </div>

    <div class="input-field ">
      <div>
        <label for="password">Введите пароль</label>
        <input type="password" name="password" id="password">
      </div>
    </div>

    <div class="input-field input-field__button">
      <input type="submit" value="Login">
    </div>

    <div th:if="${param.error}" style="color: red">
      Неправильные имя и пароль
    </div>
  </form>
</body>
</html>